$link-color: #ff269e;

blockquote {
    border: $border #b8fff3;
    border-radius: $border-radius;
    background-color: #e5fffb;
    margin-left: 0;
    margin-right: 0;
    padding-right: $sp-5;
    padding-left: $sp-5;
}

tbody tr:last-of-type td {
    padding-bottom: 0.5rem !important;
}

@media (min-width: 31.25rem) {
    .site-title.site-title {
        font-size: 20px !important;
    }
}